/* Spacings */
html {
   display: block;
}

body {
   display: block;
   margin: 30px;
}
   h2 {
      text-align: left;
      }

   .Container {
      border: solid medium black;
      margin: 10px auto;
      padding: 10px;
      display: block;  
      }

   .Color-Container {
      width: 100%;
      }

   .Navy {
      display: inline-block;
      width: 32%;
      text-align: center;
      margin: 20px auto;
      min-height: 100px;
      }
  
   .Gold {
      display: inline-block;
      width: 32%;
      text-align: center;
      margin: 20px auto;
      min-height: 100px;
      }
  
   .Red {
      display: inline-block;
      width: 32%;
      text-align: center;
      margin: 20px auto;
      min-height: 100px;
      }

   .Blue {
      display: inline-block;
      width: 32%;
      text-align: center;
      margin: 20px auto;
      min-height: 100px;
      }

   .Ivory {
      display: inline-block;
      width: 32%;
      text-align: center;
      margin: 20px auto;
      min-height: 100px;
      }

   .RobotoMono {
      display: inline-block;
      width: 42%;
   }

   .Poppins {
      display: inline-block;
      width: 42%;
   }

   .Oswald {
      display: inline-block;
      width: 42%;
   }

   .Text-Styles-Container {
      width: 100%;
      }
  
  /* Typography */

  .RobotoMono {
   font-family: 'Roboto Mono', monospace;
  }

  .RobotoMono-Bold {
   font-weight: bold;
  }

  .RobotoMono-Italic {
   font-style: italic;
  }

  .Spalsh {
   font-family: 'Poppins', sans-serif;
  }

  .Poppins-Bold {
   font-weight: bold;
  }

  .Poppins-Italic {
   font-style: italic;
  }

  .Oswald {
   font-family: 'Oswald', sans-serif;
  }

  .Oswald-Bold {
   font-weight: bold;
  }

  .Oswald-Italic {
   font-style: italic;
  }

  .Font-Title {
   text-decoration: underline;
  }

  .Roboto-Mono-Style {
   font-weight: 700 bold;
   font-size: 26px;
   font-family: 'Roboto Mono', monospace;
  }

  .Poppins-Style {
   font-weight: 500;
   font-size: 18px;
   font-family: 'Poppins', sans-serif;
  }

  .Oswald-Style {
   font-weight: 400 regular;
   font-size: 16px;
   font-family: 'Oswald', sans-serif;
  }


  /* Graphics & Colors */
  
  .Navy {
     background-color: rgb(0, 0, 128);
     color: white;
      
  }
  
  .Gold {
      background-color: rgb(255, 215, 0);
   }
  
   .Red {
      background-color: rgb(255, 0, 0); 
   }
  
   .Blue {
      background-color: rgb(0, 0, 255); 
      color: white;
   }
  
   .Ivory {
      background-color: rgb(255, 255, 240); 
   }